@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Quicksand:wght@600&display=swap');
body {
    font-family: 'Quicksand';
    /* background-color: cyan; */
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ul li {
    list-style: none;
}

.btn {
    padding: 12px 24px;
}

.navbar {
    background-color: #103968;
    color: white;
    height: 120px;
}

.navbar a {
    font-size: 20px;
    color: white;

}

.navbar a:hover {
    color: #FFD500;    
}

.container {
    max-width: 1120px;
}

.carousel-indicator {
    background-color: #FFD500;
}
.carousel-item {
    margin: 50px 0;
    padding: 40px 0;
}

.carousel-item img {
    float: right;
    width: 40%;
}

.carousel-captions {
    float: left;
    margin-top: 80px;
    /* background-color: darkred; */
}
.container-blue {
    padding: 50px 0;
    border-radius: 30px;
    background-color: #103968;
    color: #fff;
}
.departement h2 {
    margin-bottom: 48px;
}

.kabinet {
    margin-top: 50px;
    padding: 50px 0;
}

.kabinet h2 {
    margin-bottom: 40px;
}

.kab-content {
    padding: 0 60px;
}

.kab-content img {
    margin-bottom: 12px;
}

.article {
    display: inline-block;
    padding: 100px;

    /* background-color: teal; */
    margin-bottom: 100px;
}

.article img{
    float: left;
    
}

.article-desc {
    float: left;
    padding-left: 100px;
    /* background-color: tomato; */
}

.gallery {
    margin-bottom: 100px;
}

span {
    color: #FFD500;
    padding-right: 10px;
}

.gallery img {
    margin: 20px 0;
    padding-left: 10px;
}

footer {
    display: inline-block;
    width: 100%;
    height: 400px;
    background-color: #103968 ;
    color: white;
}


.footer-left {
    float: left;
    padding-top: 70px;
    max-width: 400px;
}

.footer-left img {
    margin-bottom: 20px;
}
.footer-right {
    float: right;
}

.footer-title {
    font-size: 20px;
}

.footer-right .list {
    margin-top: 70px;
    padding-left: 50px;
    max-width: 50%;
    font-size: 16px;
    line-height: 200%;
}
.footer-right ul {
    float: right;
}

.profiles {
    margin: 40px 0;
}

.section {
    display: inline-block;
    margin: 40px 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #a7a7a7;
}



