@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Quicksand:wght@600&display=swap');
body {
    font-family: 'Quicksand';
    /* background-color: cyan; */
}

.carousel-item {
    /* background-color: darkblue; */
    width: 1000px;
    margin: 40px 0 0 58px;
    padding: 40px;
}

.carousel-item img {
    float: left;
    width: 40%;
}

.carousel-captions {
    float: left;
    margin: 70px 0 0 40px;
    /* background-color: darkred; */
}








